

    <aside class="w-full bg-slate-700 border-b border-slate-800 text-xs flex justify-center px-10 h-10 content-center">
    
        <%- include('partials/collectionNav') %>
    </aside>
    
    <header class="mt-12 text-center italic font-black p-5 text-white bg-slate-900">
        <%= site.errorTag %>
    </header>

<main class="flex-1"></main>

<h5 class="text-center text-sm font-light text-gray-300 my-4"><%= site.nav[2].description %></h5>

    