<%- include('partials/head') %>
<body>
    <%- include('partials/menu') %>
    <main>
        <h5>
            La página web que buscas, no existe.
        </h5> 

    </main>

    <footer id="mainFooter">

    </footer>

</body>
</body>
</html>