
<aside class="w-full bg-slate-700 border-b border-slate-800 text-xs flex justify-start px-10">
    
        <button
            class="select-none cursor-pointer text-center text-yellow-400 hover:text-yellow-100 py-1 px-2"
            type="submit"
            id="<%= site.editNav[0].id %>">
            <p>&#10145;</p>
            <p class="text-slate-400"><%= site.editNav[0].id %></p>
        </button>
        
        <button
            class="select-none cursor-pointer text-center text-yellow-400 hover:text-yellow-100 py-1 px-2"
            type="reset"
            id="<%= site.editNav[1].id %>">
            <p>&#8634;</p>
            <p class="text-slate-400"><%= site.editNav[1].id %></p>
        </button>


</aside>