

<main id="mainTag" class="italic text-center bg-stone-900 min-h-3 max-h-6 text-stone-200 p-1"></main>
    <header class="italic bg-stone-800 h-5 flex items-center justify-center font-black">
        <h4 class="tracking-[.1em] uppercase"><%= site.isActive %></h4>
    </header>
<footer class="h-2 bg-neutral-800 border-b-2 border-slate-800"></footer>
