
<main id="mainTag" class="italic text-center bg-stone-900 min-h-6 max-h-6 text-stone-200 p-1"><%= site.mainTag %></main>
    <header class="italic bg-stone-800 h-10 flex items-center justify-end font-black">
        <h4 class="tracking-[.1em] uppercase"><%= site.isActive %></h4>
        <h3 class="text-right p-5">&ddarr;</h3>
    </header>
<footer class="h-2 bg-neutral-800 border-b-2 border-slate-800"></footer>