
<aside class="w-full bg-slate-700 border-b border-slate-800 text-xs flex justify-start px-10">

    <button
        class="select-none cursor-pointer text-center text-yellow-400 hover:text-yellow-100 py-1 px-2"
        type="submit"
        id="<%= site.idNav[0].id %>">
         
        <p>&#x270D;</p>
        <p class="text-slate-400"><%= site.idNav[0].id %></p>
    </button>

    <button
        class="select-none cursor-pointer text-center text-yellow-400 hover:text-yellow-100 py-1 px-2"
        type="reset"
        id="<%= site.idNav[1].id %>">

        <p>&#10006;</p>
        <p class="text-slate-400"><%= site.idNav[1].id %></p>
    </button>



</aside>