
<aside class="w-full bg-slate-700 border-b border-slate-800 text-xs flex justify-start px-10">
    <a href="<%= site.subNav[0].link %>">
        <button class="select-none cursor-pointer text-center text-yellow-400 hover:text-yellow-100 py-1 px-2" id="<%= site.subNav[0].id %>">
            <p>&#43;</p>
            <p class="text-slate-400"><%= site.subNav[0].id %></p>
        </button>
    </a>



</aside>